body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}


h1{
    text-align: center;
    color:red;

}

h2{
    margin-top: 25px;

}

.formulario{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color:#222222 ;
    border-radius: 12px;

}

.contenedor{
    width: 90%;
    margin: auto;
    padding: 20px;

}

label{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;

}

input, select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;

}

button{
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    
}